{% extends "base.html" %}
{% block content %}
<div class="container-fluid" style="height:100%;border:0px solid black">
    <div class="row" style="height:80%;border:0px solid green">
        <div class="col-sm-2" style="border:0px solid blue">
            <span></span>
        </div>
        <div class="col-sm-8" style="border:0px solid blue">
            <img class='img-fluid' src='static/sample.png'>
        </div>
        <div class="col-sm-2" id="adwords" style="border:0px solid blue">
            <span></span>
        </div>
    </div>
    <div class="row" style="height:80%;border:0px solid green">
        <div class="col" style="border:0px solid blue"></div>
        <div class="col" style="border:0px solid blue">
            <a href="/new" role="button" class="btn btn-primary btn-block p-2" id="body">Create Your Own Geometry</a>
        </div>
        <div class="col" style="border:0px solid blue"></div>
    </div>
</div>
{% endblock %}
